<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>AltaPay Settings</title>
        <title lang="da-DK">AltaPay Indstillinger</title>
        <title lang="de-DE">AltaPay Einstellungen</title>
        <input-field type="single-select">
            <name>paymentEnvironment</name>
            <label>Payment Environment</label>
            <label lang="da-DK">Betalingsmiljø</label>
            <label lang="de-DE">Zahlungsumgebung</label>
            <options>
                <option>
                    <id>https://testgateway.altapaysecure.com/merchant/API/</id>
                    <name>Test environment</name>
                    <name lang="da-DK">Testmiljø</name>
                    <name lang="de-DE">Test Umgebung</name>
                </option>
                <option>
                    <id>https://$PLACEHOLDER$.altapaysecure.com/merchant/API/</id>
                    <name>Production environment</name>
                    <name lang="da-DK">Produktionsmiljø</name>
                    <name lang="de-DE">Produktionsumgebung</name>
                </option>
            </options>
            <defaultValue>https://testgateway.altapaysecure.com/merchant/API/</defaultValue>
        </input-field>
        <input-field>
            <name>shopName</name>
            <required>true</required>
            <label>AltaPay ShopName</label>
            <helpText>
                Enter the shop name that appears at the beginning of your AltaPay URL.
                For example: demoshop (from https://demoshop.altapaysecure.com)
            </helpText>
        </input-field>
        <input-field>
            <name>username</name>
            <required>true</required>
            <label>AltaPay Username</label>
        </input-field>
        <input-field type="password">
            <name>password</name>
            <required>true</required>
            <label>AltaPay Password</label>
        </input-field>
    </card>

    <card>
      <title>Checkout Settings</title>
      <component name="sw-media-field">
        <name>paymentGatewayMedia</name>
        <label>Payment Form Logo</label>
      </component>
      <input-field type="single-select">
        <name>checkoutStyle</name>
        <label>Checkout Form Style</label>
        <options>
          <option>
            <id>form_dynamic_div</id>
            <name>Legacy</name>
          </option>
          <option>
            <id>form_checkout_div</id>
            <name>Checkout v1</name>
          </option>
          <option>
            <id>form_checkout</id>
            <name>Checkout v2</name>
          </option>
        </options>
        <defaultValue>form_checkout_div</defaultValue>
      </input-field>
    </card>
</config>
